@import "tailwindcss";


@theme {
  --font-*: initial;
  --font-manrope:"Manrope","sans-serif";
  
   --color-*: initial;
  --color-dashboard: #E8ECF1;
  --color-white: #fff;
  --color-sideBar: #194466;
  --color-navText: #143A5E;
  --color-heading: #181A1E;
   
  --shadow-*: initial;
  --shadow-panelShadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);

}